@CHARSET "ISO-8859-1";

.centralizar {
	text-align: center;
}

.1grau {
	color: blue;
}

.2grau {
	color: lightblue;
}

.juizadoEspecial {
	color: orange;
}

.turmaRecursal {
	color: green;
}

.execucaoPenal {
	color: red;
}