@CHARSET "ISO-8859-1";

.centralizar {
	text-align: center;
}

.1grau {
	color: blue !important;
}

.2grau {
	color: lightblue !important;
}

.juizadoEspecial {
	color: orange !important;
}

.turmaRecursal {
	color: green !important;
}

.execucaoPenal {
	color: red !important;
}

.info_consulta {
	display: block; 
	text-align: center; 
	background-color: gray; 
	color: white;
}